.store__wrap {
    justify-content: flex-end;
}

.store__left {
    position : fixed;
    z-index  : 1;
    top      : 120px;
    left     : 10%;
    transform: translateY(-50%);
    width    : 200px;
}

.store__nav {
    display      : block;
    margin-bottom: 10px;
    width        : 100%;
    text-align   : left;
    padding-left : 20px;
}

.store__right h2 {
    font-weight: 500;
    text-align : center;
    height     : 72px;
    margin     : 0;
}

.card-title {
    font-size: 16px;
}

.modal__right span {
    font-weight: 600;
}